<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      Editing guard
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to "<<", pipeline_path(@pipeline), class: "btn btn-primary mr-2" %>
      <%= link_to "Back", edit_pipeline_branch_path(@pipeline, @branch), class: "btn btn-primary" %>
      <%= link_to "Destroy", pipeline_branch_arc_guard_path(@pipeline, @branch, @arc_guard), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>
  </div>

  <%= render "form", pipeline: @pipeline, branch: @branch, arc_guard: @arc_guard %>
</div>
