<% flash.each do |k, v| %>
  <% k = "info" if k == "notice" %>
  <% k = "warning" if k == "alert" %>
  <div class="container">
    <div class="alert alert-<%= k %> alert-dismissible fade show mt-3 mb-0">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <%= sanitize v.html_safe %>
    </div>
  </div>
<% end %>
