<div class="form-group">
  <%= f.label :strict_select %>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <%= f.check_box :strict_select, class: "form-check-input", id: "strict_select" %>
      <%= f.label :strict_select, "Can only select from collection", class: "form-check-label", for: "strict_select" %>
    </div>
  </div>
</div>
