<div class="form-group">
  <%= f.label :multiline %>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <%= f.check_box :multiline, class: "form-check-input", id: "nullable_end" %>
      <%= f.label :multiline, "The field is a text area", class: "form-check-label", for: "nullable_end" %>
    </div>
  </div>
</div>
