<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      Editing Redirection
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to "<<", pipeline_path(@pipeline), class: "btn btn-primary mr-2" %>
      <%= link_to 'Back', edit_pipeline_step_path(@pipeline, @step), class: "btn btn-primary mr-2" %>
    </div>
  </div>

  <div class="mb-3">
    <%= render "form", pipeline: @pipeline, step: @step %>
  </div>
</div>
