<h3>Acceptance</h3>

<div class="form-group form-check">
  <%= f.check_box :acceptance, class: "form-check-input", id: "validations_acceptance", class_for_error: "is-invalid" %>
  <%= f.label :acceptance, "The field must be checked", for: "validations_acceptance" %>
</div>

<hr>
