<h3>Confirmation</h3>

<div class="form-group form-check">
  <%= f.check_box :confirmation, class: "form-check-input", id: "validations_confirmation", class_for_error: "is-invalid" %>
  <%= f.label :confirmation, "The field must be repeated in confirmation field", for: "validations_confirmation" %>
</div>

<hr>
