<h3>Presence</h3>

<div class="form-group form-check">
  <%= f.check_box :presence, class: "form-check-input", id: "validations_presence", class_for_error: "is-invalid" %>
  <%= f.label :presence, "The field must not empty", for: "validations_presence" %>
</div>

<hr>
