<h3>Uniqueness</h3>

<div class="form-group form-check">
  <%= f.check_box :uniqueness, class: "form-check-input", id: "validations_uniqueness", class_for_error: "is-invalid" %>
  <%= f.label :uniqueness, "The field must unique", for: "validations_uniqueness" %>
</div>

<hr>
