<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      Instances
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th>ID</th>
      <th>Workflow</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.id %></td>
        <td><%= instance.workflow.name %></td>
        <td>
          <%= link_to 'Show', instance_path(instance) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
