<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>
      New Leave record
    </h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to "Back", leaves_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>

  <%= render "form", leave: @leave %>
</div>
