<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      Human Task
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to 'Instance', instance_path(@human_task.instance), class: "btn btn-primary" %>
    </div>
  </div>

  <%= render "form", human_task: @human_task %>
</div>
