<% url = pipeline_step_transition_callbacks_path(pipeline, step) %>
<%= form_with(model: transition_callback, scope: :transition_callback, url: url, local: true) do |f| %>
  <%= f.hidden_field :type %>

  <% if transition_callback.configurable? %>
    <%= render partial: "_flow_kit/transition_callbacks/#{transition_callback.type_key}", locals: { f: f, callback: transition_callback } %>
  <% end %>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
